
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <main>
    <div>
      <h1>{{ tododetail_object.name }} </h1>
			<p><a href="{% url 'todo_list_update' tododetail_object.id %}">Update list</a></p>
			<p><a href="{% url 'todo_list_delete' tododetail_object.id %}">Delete list</a></p>
				<h2>Tasks</h2>
				<table>
					<thead>
						<tr>
							<th>Task</th>
							<th>Due Date</th>
						</tr>
					</thead>
					<tbody>
						{% for task in tododetail_object.items.all %}
						<tr>
							<td>{{ task.task }}</td>
							<td>{{ task.due_date }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
        </div>
    </main>

</body>
</html>
